h1 {
    font-size: 26px;
}

h2 {
    font-size: 24px;
}

nav {
    padding: 12px;
}

/* Atm seems like how we could have it. Prone to chnage in the future */
.main_section {
    background-image: url('../img/main_img.jpg');
    background-size: cover;
    padding: 10px;
}

/* Custom chnages made on the card class on top of Bulma */
.card {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px;
    border-radius: 14px;
}

/* Custom chnages made on the input on top of Bulma */
input {
    margin-top: 20px;
    margin-bottom: 20px;
}

.results_section {
    padding: 30px;
}

.modal-close-button {}

#filters {
    display: none;
    padding: 20px;
}

.filter_sections {
    margin-top: 7px;
}