h1 {
    font-size: 26px;
}

h2 {
    font-size: 24px;
}

nav {
    padding: 12px;
}

/* Atm seems like how we could have it. Prone to change in the future */
.main-section {
    background-image: url('../img/main_img.jpg');
    background-size: cover;
    padding: 10px;
}

/* Custom chnages made on the card class on top of Bulma */
.card {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px;
    border-radius: 14px;

}

.modal-close-button {}

#filters {
    display: none;
    padding: 20px;
}

.filter_sections {
    margin-top: 7px;
}

.recipe-clickable-image:hover {
  cursor:pointer;
}

.navbar {
    background-color: #424b54;
    padding: 12px;

}

.navbar-item {
    color: white;

}

.footer {
    background-color: #424b54;
    padding: 20px;
    color: white;
    font-size: 18px;;
}

.dropmenu {
    background-color: lightgrey;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
}